#venn, #venn2 {
  margin: auto;
}

.venntooltip {
  position: absolute;
  text-align: center;
  width: 280px;
  height: 38px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}
